**/build
**/target
**/out
**/maven-report
**/coverage
**/__test_reports__/junit.xml
.npm
**/node_modules
s3front/*.env

docker/*/*.jar
**/docker/*/*.jar
jmeter/*.log

### Doc gen ###
**/docs/index.adoc
docs/document.pdf

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.flattened-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
**/nb-configuration.xml
**/nbactions-skip_test.xml
/nb-configuration.xml
**/nbactions.xml

### VS Code ###
.vscode/

### JPA Buddy ###
.jpb
